html,body
  height 100vh
  weight 100vw
  
#app
  #box
    width 500px
    height 100vh
    position: fixed
    right 0
    display flex
    flex-direction column
    align-items flex-end
    background darkblue 
    padding-right 80px
  
    a
      margin-top 40px
      color white
      font-size 1.5rem
    #homeIcon
      margin-top auto
      margin-bottom 40px 
      color white
      font-weight: bolder
      font-size 1.5rem
      writing-mode: vertical-rl
    #homeIcon:hover
      text-decoration: none


#home
  width 100% !important
  height 100vh
  padding 50px 200px 50px 100px
  background #eee
  .btn#plus
    border none
    background none 
    color red
    position absolute
    left 480px
    font-size 1.5rem
    line-height 25px
  #nowShow
    margin-top 100px
    h1 
      margin-left 60px
      line-height 25px
      font-size 1.5rem
    h2
      color red
      font-size 10rem
  #nowShow::before
    content ''
    position absolute
    width 40px
    height 40px
    border-radius 50%
    border 1px solid black

  #nowShow::after
    content ''
    position absolute
    top 30px
    left 75px
    width 10px
    height 10px
    border-radius 50%
    border 1px solid red
#home
  
  ::placeholder
    color red 
  table
    width 650px 
    font-size 1.5rem
    th
      border-top none
      border-bottom none
      td
        border-top none
        border-bottom 1px solid  lightgrey
            
#home
  #circle
    width 500px
    height 500px
    border-radius 50%
    background red
    position fixed
    left 800px
    bottom 100px
    .btn
      background white
      color red
      border none
      border-radius 50%
      position absolute
      left 250px
      top 250px
      transform translate(-50%, -50%)
      width 100px
      height 100px
      font-size 40px
    .btn#pause
      background white
      color red
      border none
      border-radius 50%
      position absolute
      left 150px
      top 250px
      transform translate(-50%, -50%)
    .btn#skip
      background white
      color red
      border none
      border-radius 50%
      position absolute
      left 350px
      top 250px
      transform translate(-50%, -50%)
  #circle::before
    content ''
    width 530px
    height 530px
    position absolute
    left -15px
    top -15px
    border-radius 50%
    border 5px solid red


#list
  width 100% !important
  height 100vh
  background darkblue
  color white
  ::placeholder
    color red 
  padding 50px 0 0 0px
  .btn#plus
    border none
    background none 
    color red !important
    position absolute
    right 40px
    font-size 1.5rem
    top -6px
  table
    color white

#list
  th
    border-top none
  td
    border-top none
    border-bottom 1px solid  lightgrey
    font-size 1.5rem
  a 
    font-size 2rem
    opacity 0.5
  #timer
    width: 300px
    height: 150px
    background: white
    border-radius: 300px 300px 0 0
    position absolute
    top 521px
    .btn#start
      width 80px
      height 80px
      border-radius 50%
      border none
      background red
      position absolute
      left 150px
      transform translate(-50%, -50%)
    .btn#pause
      width 80px
      height 80px
      border-radius 50%
      border none
      background red
      position absolute
      left 50px
      transform translate(-50%, -50%)
    .btn#skip
      width 80px
      height 80px
      border-radius 50%
      border none
      background red
      position absolute
      left 250px
      transform translate(-50%, -50%)
    .btn::after
      content ''
      width 100px
      height 100px
      border-radius 50%
      border 1px solid red
      position absolute
      left 40px
      top 40px 
      transform translate(-50%, -50%)
    h2
      font-size 4rem
      text-align: center
      margin-top 30px !important
    h1
      font-size 1.2rem
      text-align: center

#settings
  width 100% !important
  height 100vh
  background darkblue
  .container
    width 100vh
    height 100vh
    display: flex !important
    table
      color white
      z-index 1000

